.buttons button {
  width: 130px;
  height: 47px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(1):hover {
  background: #950170;
  border-color: #950170;
}

.buttons button:nth-child(2) {
  background: transparent;
  color: #c40094;
}

.buttons button:nth-child(2):hover {
  background: #c40094;
  color: #fff;
}
