@media only screen and (max-width: 768px) {
  .buttons button {
    width: 100%;
    height: 47px;
    margin: 0 0 20px;
  }

  .buttons button:nth-child(1):hover {
    background: #950170;
    border-color: #950170;
  }

  .buttons button:nth-child(2) {
    background: transparent;
    color: #c40094;
  }

  .buttons button:nth-child(2):hover {
    background: #c40094;
    color: #fff;
  }
}
